* {
    margin: 0;
    padding: 0; /*espaçamento interno do elemento*/
    box-sizing: border-box;

} 
ul {
    list-style: none;
}

a {
    text-decoration: none; /*pra nao ficar com o link azul */
    
}
